{
	"LogLevel"			:	7,
	"Daemon"			:	false,
	"ConcurrentMax"		:	20000,
	"ModuleDir"			:	"/usr/local/dungeon/rooms",
	"Modules"			:	[
		{
			"Path"	:	"dumb.so",
			"Config"	:	{
				"Count"	:	5
			}
		},
		{
			"Path"	:	"http_tproxy.so",
			"Config"	:	{
				"ListenPort"	:	19999,
				"ConnectTimeout_ms"	:	1000,
				"ReceiveTimeout_ms"	:	500,
				"SendTimeout_ms"	:	500
			}
		}
	]
}

